<div class="d-flex justify-content-center top-widget">
    <div class="align-self-center">
        <button type="button" class="btn btn-primary" id="random-button">Random Word</button>
        <span class="ml-3 word">
            [Click on the button to generate a random word here]
        </span>
    </div>
</div>